@import "tailwindcss";

@theme {
	--font-felt-tip: "felt-tip-woman", sans-serif;
	--font-new-order: "new-order", sans-serif;
}

h1 {
  font-family: var(--font-felt-tip);
  font-size: 2.5rem;
  color: #333333;
}

h2 {
  font-family: var(--font-felt-tip);
  font-size: 1.75rem;
  color: #333333;
}

p {
  font-family: var(--font-new-order);
  font-size: 1.125rem;
  color: #333333;
  line-height: 2.25rem;
}